body {
  background: linear-gradient(140deg, rgba(89, 90, 95, 0.52), rgba(89, 90, 95, 0.52)), url(coffee-apple.jpg) no-repeat center center fixed  ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}
